<!DOCTYPE html>
<html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Stay logged in for faster checkout</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="https://www.paypalobjects.com/web/res/bc4/702f40f2e7398ff368b30099ca19e/css/contextualLogin.css" />
</head>

<body class="desktop">
    <div id="main" class="main" role="main">
        <section id="slLanding" class="slLanding  " data-role="page" data-title="Log in to your PayPal account">
            <div class="corral">
                <div id="content" class="contentContainer activeContent">
                    <header>
                        <p class="paypal-logo paypal-logo-long"></p>
                    </header>
                    <div id="linked" class="linked">
                        <!--div id="headerIcon" class="partnerConnect"></div-->
                        <div class="headerTextDecorated"></div>
                        <h1 class="headerText">Thank you. All set!</h1>
                        <div class="result">
                            <section class="id_token">
                                    <p><b>Code</b>:<%= code %></p>
<p><b>id_token Info:</b></p>
<pre>
{
    "kid": "<%=idt.kid%>"",
    "alg": "<%=idt.alg%>"
},
<pre><%=idtokenInfo%></pre>
<% if (state) { %>
    <hr />
    <div><b>State: </b><%= state %></div>
  <% } %>
                            </section>  
                        </div>                     
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer" role="contentinfo">
            <div class="legalFooter">
                <ul class="footerGroup">
                    <li>
                        <a target="_blank" href="/us/cgi-bin/webscr?cmd=_help">Contact Us</a>
                    </li>
                    <li>
                        <a target="_blank" href="/us/webapps/mpp/ua/privacy-full">Privacy</a>
                    </li>
                    <li>
                        <a target="_blank" href="/us/webapps/mpp/ua/legalhub-full">Legal</a>
                    </li>
                    <li>
                        <a target="_blank" href="/us/webapps/mpp/country-worldwide">Worldwide</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>
